<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <p class="footer-descr">
        Discover the magic of organic fruit in an incredible range of taste
        experiences
      </p>
      <div class="footer-wrapper">
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a href=""
              ><svg class="footer-socials-icon" width="" height="">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a href=""
              ><svg class="footer-socials-icon" width="" height="">
                <use href=""></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a href=""
              ><svg class="footer-socials-icon" width="" height="">
                <use href=""></use>
              </svg>
            </a>
          </li>
        </ul>
        <adress footer-adress>
          <a class="footer-tel" href="tel:+380684439426">+380 (68) 443-94-26</a>
          <p footer-adress-descr>
            1678 S. Pioneer Road Salt Lake City UT 84104
          </p>
        </adress>
      </div>
    </div>
    <div class="footer-bottom">
      <ul footer-nav>
        <li footer-nav-item><a class="footer-nav-link">How It Works</a></li>
        <li footer-nav-item><a class="footer-nav-link">Fruits</a></li>
        <li footer-nav-item><a class="footer-nav-link">Reviews</a></li>
        <li footer-nav-item><a class="footer-nav-link">Order</a></li>
      </ul>
      <a class="logo footer-logo" href=""
        ><svg class="footer-logo-item" width="" height="">
          <use href=""></use>
        </svg>
        fruitbox
      </a>
    </div>
  </div>
</footer>
