<section id="section-fruits" class="section-fruits">
  <div class="container">
    <div class="sec-descr">
      <h2 class="section-name">Fruits</h2>
      <div class="sec-article">
        <h3 class="h3-title">
          Organic <span class="orange-span">fruits</span>
        </h3>
        <p class="par">
          Our organic fruits are hand-picked from local farms and delivered
          straight to your doorstep, ensuring that you get the freshest and most
          nutritious produce possible. We offer a wide selection of organic
          fruits grown without the use of harmful pesticides or chemicals.
        </p>
      </div>
    </div>

    <div class="fruits-item-wrapper">
      <ul class="fruits-list">
        <li class="fruits-item">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-orange.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-orange.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-orange.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-orange.avif 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-mob-tab/ing-mob@1x-orange.avif 1x,
                ./img/fruits/fruits-mob-tab/ing-mob@2x-orange.avif 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-mob-tab/ing-mob@1x-orange.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Orange</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">60 UAH / kg</button>
            </li>
          </ul>
        </li>
        <li class="fruits-item">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-lime.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-lime.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-lime.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-lime.avif 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-mob-tab/ing-mob@1x-lime.avif 1x,
                ./img/fruits/fruits-mob-tab/ing-mob@2x-lime.avif 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-mob-tab/ing-mob@1x-lime.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Lime</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">40 UAH / kg</button>
            </li>
          </ul>
        </li>
        <li class="fruits-item">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-peach.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-peach.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-peach.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-peach.avif 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-mob-tab/ing-mob@1x-peach.avif 1x,
                ./img/fruits/fruits-mob-tab/ing-mob@2x-peach.avif 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-mob-tab/ing-mob@1x-peach.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Peach</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">80 UAH / kg</button>
            </li>
          </ul>
        </li>
        <li class="fruits-item">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-apple.avif  1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-apple.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-apple.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-apple.avif 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-mob-tab/ing-mob@1x-apple.avif 1x,
                ./img/fruits/fruits-mob-tab/ing-mob@2x-apple.avif 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-mob-tab/ing-mob@1x-apple.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Apple</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">50 UAH / kg</button>
            </li>
          </ul>
        </li>
        <li class="fruits-item">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-banana.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-banana.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-banana.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-banana.avif 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-mob-tab/ing-mob@1x-banana.avif 1x,
                ./img/fruits/fruits-mob-tab/ing-mob@2x-banana.avif 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-mob-tab/ing-mob@1x-banana.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Banana</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">80 UAH / kg</button>
            </li>
          </ul>
        </li>
        <li class="fruits-item">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-kiwi.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-kiwi.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-kiwi.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-kiwi.avif 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-mob-tab/ing-mob@1x-kiwi.avif 1x,
                ./img/fruits/fruits-mob-tab/ing-mob@2x-kiwi.avif 2x
              "
              media="(min-width:320px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-mob-tab/ing-mob@1x-kiwi.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Kiwi</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">90 UAH / kg</button>
            </li>
          </ul>
        </li>
        <li class="fruits-item tablet">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-plum.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-plum.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-plum.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-plum.avif 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-desk-tab/ing-desk-tab@1x-plum.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Plums</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">40 UAH / kg</button>
            </li>
          </ul>
        </li>
        <li class="fruits-item tablet">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-strawberry.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-strawberry.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-strawberry.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-strawberry.avif 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-desk-tab/ing-desk-tab@1x-strawberry.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Strawberry</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">
                100 UAH / kg
              </button>
            </li>
          </ul>
        </li>
        <li class="fruits-item desk">
          <picture>
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-watormelon.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-watormelon.avif 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./img/fruits/fruits-desk-tab/ing-desk-tab@1x-watormelon.avif 1x,
                ./img/fruits/fruits-desk-tab/ing-desk-tab@2x-watormelon.avif 2x
              "
              media="(min-width: 768px)"
            />
            <img
              class="fruits-item-img"
              width="190"
              height="170"
              src="./img/fruits/fruits-desk-tab/ing-desk-tab@1x-watormelon.avif"
              alt="orange fruit"
            />
          </picture>
          <ul class="fruits-name-wrap">
            <li class="name-wrap-item">
              <h4 class="fruits-item-name">Watermelon</h4>
              <p class="fruits-item-type">Plant</p>
            </li>
            <li class="name-wrap-item">
              <button class="fruits-item-btn" type="button">40 UAH / kg</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="show-btn-wrapp">
      <button class="ftuits-show-btn mob" type="button">Show more</button>
    </div>
  </div>
</section>
