<section class="fruits">
  <div class="conteiner">
    <ul class="fruits-title-list">
      <li class="fruits-title-item">
        <h2 class="fruits-section-name">Fruits</h2>
      </li>
      <li class="fruits-title-item">
        <h3 class="fruits-title">Organic fruits</h3>
        <p class="fruits-par">
          Our organic fruits are hand-picked from local farms and delivered
          straight to your doorstep, ensuring that you get the freshest and most
          nutritious produce possible. We offer a wide selection of organic
          fruits grown without the use of harmful pesticides or chemicals.
        </p>
      </li>
    </ul>
    <ul class="fruits-list">
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Orange</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">60 UAH / kg</button>
      </li>
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Lime</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">40 UAH / kg</button>
      </li>
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Peach</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">80 UAH / kg</button>
      </li>
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Apple</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">50 UAH / kg</button>
      </li>
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Banana</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">80 UAH / kg</button>
      </li>
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Kiwi</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">90 UAH / kg</button>
      </li>
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Plums</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">40 UAH / kg</button>
      </li>
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Strawberry</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">100 UAH / kg</button>
      </li>
      <li class="fruits-item">
        <img src="" alt="" class="fruits-item-img" />
        <h3 class="fruits-item-name">Watermelon</h3>
        <p class="fruits-item-type">Plant</p>
        <button class="fruits-item-btn" type="button">40 UAH / kg</button>
      </li>
    </ul>
  </div>
</section>
