<header class="header">
    <div class="header-container container">
      <nav class="nav">
        <a class="logo-a" href="">fruitbox&#160;
          <svg class="logo-header" width="16" height="16">
            <use href="../public/favicon.svg#logoorange1"></use>
          </svg>    
        </a>
        <ul class="nav-list">
          <li class="nav-link">
            <a href="#">How It Works</a>
          </li>
          <li class="nav-link">
            <a href="#">Fruits</a>
          </li>
          <li class="nav-link">
            <a href="#">Reviews</a>
          </li>
          <li class="nav-link">
            <a href="#">Order</a>
          </li>
        </ul>
      </nav>
      <a class="tel-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
      <button type="button" class="menu-btn">
        <svg class="burger-btn" width="40" height="40">
          <use href="../public/favicon.svg#logoorange1"></use>
        </svg>
      </button>
    </div>
  </header>