<section class="hero">
  <div class="container">
      <h1 class="title">
        <span class="gradient">Fresh harvest box</span> is your one-stop place
        for a delicious fruit basket
      </h1>
      <ul class="text-list">
        <li class="text-items">
          <p class="text">#organic</p>
        </li>
        <li class="text-items">
          <p class="text">#products</p>
        </li>
        <li class="text-items">
          <p class="text">#basket</p>
        </li>
        <li class="text-items">
          <p class="text">#fruits</p>
        </li>
      </ul>
        <picture>
                 <source
                   media="(min-width: 1280px)"
                   srcset="
                    ./img/hero/hero-1_desc.avif    1x,
                    ./img/hero/hero-1_desc@2x.avif 2x
                   "
                   type="image/avif"
                 />
                 <source
                   media="(min-width: 768px)"
                   srcset="
                     ./img/hero/hero-1_tab.avif    1x,
                     ./img/hero/hero-1_tab@2x.avif 2x
                   "
                   type="image/avif"
                 />
                 <source
                   media="(max-width: 767px)"
                   srcset="
                     ./img/hero/hero-1_mob.avif    1x,
                     ./img/hero/hero-1_mob@2x.avif 2x
                   "
                   type="image/avif"
                 />
      <img
        class="pic img"
        src="./img/hero/hero-1_mob.avif"
        alt="hero img"
        width="335"
        height="500"
      />
     </picture>
    </div>
  </div>
</section>
