<section class="section-hiw" id="steps">
  <div class="container">
    <div class="sec-descr">
      <h2 class="section-name">Steps</h2>
      <div class="section-info sec-article">
        <h3 class="h3-title">
          To order your<span class="orange-span"> fruit basket</span>, simply
          follow these easy steps
        </h3>
        <p class="par">
          Our baskets are assembled with care and delivered straight to your
          doorstep, so you can enjoy the taste of fresh fruit without ever
          leaving your home. Whether you're looking for a healthy snack or a
          thoughtful gift, our fruit baskets are the perfect choice.
        </p>
      </div>
    </div>
    <div class="box-hiw">
      <div class="box-hiw-svg">
        <ol class="hiw-ol">
          <li class="hiw-list">
            Just choose the fruit you want to<br class="hiw-br" />order by
            clicking on the checkboxes next to it.
          </li>
          <li class="hiw-list">Click on the basket and fill out the form.</li>
          <li class="hiw-list">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </li>
        </ol>
      </div>
      <div class="box-hiw-img">
        <picture>
          <source
            srcset="
              ./img/block-desc/block-desk@1x.avif 1x,
              ./img/block-desc/block-desk@2x.avif 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/block-tab/block-tab@1x.avif 1x,
              ./img/block-tab/block-tab@2x.avif 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/block-mob/block-mob@1x.avif 1x,
              ./img/block-mob/block-mob@2x.avif 2x
            "
            media="(max-width:768px)"
          />
          <img
            class="hiw-img"
            src="./img/block-mob/block-mob@1x.avif"
            alt="girl-and-citrus"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
