<section class="section-hiw container">
  <div class="sec-descr">
    <h2 id="steps" class="section-name">Steps</h2>
    <div class="section-info sec-article">
      <h3 class="h3-title">
        To order your<span class="orange-span"> fruit basket</span>, simply
        follow these easy steps
      </h3>
      <p class="par">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home. Whether you're looking for a healthy snack or a thoughtful
        gift, our fruit baskets are the perfect choice.
      </p>
    </div>
  </div>
  <div class="box-hiw">
    <div class="box-hiw-svg">
      <ol class="hiw-ol">
        <li class="hiw-list">
          Just choose the fruit you want to order by<br />clicking on the
          checkboxes next to it.
        </li>
        <li class="hiw-list">Click on the basket and fill out the form.</li>
        <li class="hiw-list">
          Sit back and relax! Your fresh fruit<br />basket will be delivered.
        </li>
      </ol>
      <svg class="icon-orange" width="67" height="75">
        <use href="./img/icons/icons.svg#icon-orange"></use>
      </svg>
      <svg class="icon-melon" width="82" height="88">
        <use href="./img/icons/icons.svg#icon-melon"></use>
      </svg>
      <svg class="icon-pineapple" width="103" height="153">
        <use href="./img/icons/icons.svg#icon-pineapple"></use>
      </svg>
      <svg class="icon-lemon" width="44" height="61">
        <use href="./img/icons/icons.svg#icon-lemon"></use>
      </svg>
      <svg class="icon-banana" width="98" height="105">
        <use href="./img/icons/icons.svg#icon-banana"></use>
      </svg>
      <picture>
        <source
          srcset="
            ./img/block-desc/block-desk@1x.jpg 1x,
            ./img/block-desc/block-desk@2x.jpg 2x
          "
          media="(min-width:1280px)"
        />
        <img
          class="hiw-box-img"
          src="./img/block-deck/block-desk@1x.jpg"
          alt="girl-and-citrus"
          width="335"
          height="330"
        />
      </picture>
    </div>
    <picture>
      <source
        srcset="
          ./img/block-desc/block-desk@1x.jpg 1x,
          ./img/block-desc/block-desk@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/block-tab/blokc-tab@1x.jpg 1x,
          ./img/block-tab/block-tab@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/block-mob/block-mob@1x.jpg 1x,
          ./img/block-mob/block-mob@2x.jpg 2x
        "
        media="(max-width:768px)"
      />
      <img
        class="hiw-img"
        src="./img/block-mob/block-mob@1x.jpg"
        alt="girl-and-citrus"
      />
    </picture>
  </div>
</section>
