<section class="order">
    <div class="container">
        <p class="name-sactiona">Order</p>
        <h2>Fresh <span class="orange-span">Harvest Box</span> has got you covered</h2>
        <p>Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        <form class="order-form">
            <input class="order-input" type="text" placeholder="Enter full name">
            <input class="order-input" type="email" placeholder="Enter email">
            <textarea class="order-input order-textarea" placeholder="Enter comments"></textarea>
            <button class="button-submit" type="submit">Submit</button>
        </form>
        <picture>
            <source srcset="
                ./img/ 1x,
                ./img/ 2x
            " media="(min-width:1158px)" />
            <source srcset="
                ./img/ 1x,
                ./img/ 2x
            " media="(min-width:768px)" />
            <source srcset="
                ./img/woman-holding-box-full-oranges-her-hands.jpg 1x,
                ./img/woman-holding-box-full-oranges-her-hands-x2.jpg 2x
            " media="(max-width:768px)" />
            <img class="" src="./img/woman-holding-box-full-oranges-her-hands.jpg" alt="" width="335" height="330" />
        </picture>
    </div>
</section>