<section class="section">
    <div class="container">
        <h2>Reviews</h2>
        <div class="reviews-article">
            <h3>Your <span class="orange-span">impressions</span> of organic fruits</h3>
            <p>Our boxes are packed with delicious, nutritious fruits and vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        </div>
        <div class="reviews-container">
            <div class="review">
                <review-cap>
                    <ul class="stars rating-4">
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <div class="person-reviewer">
                        <img src="" alt="User Picture" class="reviewer-ava">
                        <h4 class="reviewer-name">Victoria</h4>
                        <p class="reviewer-status">Student</p>
                        <p>The range of berries is simply amazing! Organic strawberries and raspberries are real flavor bombs. It's great to be able to enjoy natural sweetness without worrying about chemicals.</p>
                    </div>
                </review-cap>
            </div>
            <div class="review">
                <review-cap>
                    <ul class="stars rating-3">
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                        <li class="star-li">
                            <svg class="star" width="20" heigth="20">
                                <use href="../img/icons/icons.svg#icon-star"></use>
                            </svg>
                        </li>
                    </ul>
                    <div class="person-reviewer">
                        <img src="" alt="User Picture" class="reviewer-ava">
                        <h4 class="reviewer-name">Alex</h4>
                        <p class="reviewer-status">Student</p>
                        <p>I recently tried organic apples, and they impressed me with their unique taste harmony. A real experience for those who are looking for not only fruit, but also aesthetic pleasure from the taste!</p>
                    </div>
                </review-cap>
            </div>
        </div>
    </div>
</section>

<!-- #region X -->
<!-- #endregion X -->