<section class="section" id="reviews">
  <div class="container">
    <div class="sec-descr">
      <h2 class="section-name">Reviews</h2>
      <div class="sec-article">
        <h3 class="h3-title">
          Your <span class="orange-span">impressions</span> of organic fruits
        </h3>
        <p class="par">
          Our boxes are packed with delicious, nutritious fruits and vegetables,
          perfect for anyone looking to eat healthier or support local farmers.
          Order your box today and start enjoying the best that nature has to
          offer!
        </p>
      </div>
    </div>
    <ul class="reviews-container">
      <li class="review">
        <ul class="stars rating-4">
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <div class="person-reviewer">
          <picture class="reviewer-ava">
            <source
              srcset="
                ./img/rewies-mob/Vic-mob.avif    1x,
                ./img/rewies-mob/Vic-mob@2x.avif 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                ./img/rewies-desk-tab/Vic-tab+.avif    1x,
                ./img/rewies-desk-tab/Vic-tab+@2x.avif 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/rewies-desk-tab/Vic-tab+.png"
              alt="User Picture"
              loading="lazy"
            />
          </picture>
          <div class="person-info">
            <h4 class="reviewer-name">Victoria</h4>
            <p class="reviewer-status">Student</p>
          </div>
        </div>
        <p class="par-rev">
          The range of berries is simply amazing! Organic strawberries and
          raspberries are real flavor bombs. It's great to be able to enjoy
          natural sweetness without worrying about chemicals.
        </p>
      </li>
      <li class="review mob-tab-hide">
        <ul class="stars rating-3">
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
          <li class="star-li">
            <svg class="star" width="20" height="20">
              <use href="./img/icons/icons.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <div class="person-reviewer">
          <picture class="reviewer-ava">
            <!-- <source
                    srcset=" 1x,
                     2x"
                    media="(max-width: 767px)"> -->
            <source
              srcset="
                ./img/rewies-desk-tab/Alex-tab+.avif    1x,
                ./img/rewies-desk-tab/Alex-tab+@2x.avif 2x
              "
              media="(min-width: 768px)"
            />
            <img
              src="./img/rewies-desk-tab/Alex-tab+.png"
              alt="User Picture"
              loading="lazy"
            />
          </picture>
          <div class="person-info">
            <h4 class="reviewer-name">Alex</h4>
            <p class="reviewer-status">Student</p>
          </div>
        </div>
        <p class="par-rev">
          I recently tried organic apples, and they impressed me with their
          unique taste harmony. A real experience for those who are looking for
          not only fruit, but also aesthetic pleasure from the taste!
        </p>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./img/rewies-mob/fruits-rev-cover-mob.avif    1x,
          ./img/rewies-mob/fruits-rev-cover-mob@2x.avif 2x
        "
        media="(max-width: 767px)"
      />
      <source
        srcset="
          ./img/rewies-desk-tab/fruits-rev-cover-tab.avif    1x,
          ./img/rewies-desk-tab/fruits-rev-cover-tab@2x.avif 2x
        "
        media="(max-width: 1279px)"
      />
      <source
        srcset="
          ./img/rewies-desk-tab/fruits-rev-cover-desktop.avif    1x,
          ./img/rewies-desk-tab/fruits-rev-cover-desktop@2x.avif 2x
        "
        media="(min-width: 1280px)"
      />
      <img
        loading="lazy"
        src="./img/rewies-desk-tab/fruits-rev-cover-desktop.jpg"
        alt="Fruits"
        class="decor-img"
      />
    </picture>
  </div>
</section>
