:root {
  font-family: 'Suisse Intl';
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.orange-span {
  color: #ff7f08;
}

/* це для помаранчевих надписів серед тексту  */

.img {
  border-radius: 16px;
}

.sec-descr {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .sec-descr {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
  }
  .sec-article {
    width: 496px;
  }
}
@media only screen and (min-width: 1280px) {
  .sec-article {
    width: 547px;
    margin-right: 80px;
  }
}
/* h2 */
.section-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.04em;
  color: #ff7f08;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .section-name {
    font-size: 16px;
  }
}

.h3-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-align: left;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .h3-title {
    font-size: 32px;
    margin-bottom: 25px;
  }
}

.par {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #777;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
  .par {
    font-size: 16px;
    line-height: 1.25;
  }
}
