.container {
  min-width: 320px;
  max-width: 375px;
  padding: 40px 20px;
  margin: 0 auto;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 40px 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 62px 32px;
  }
}
