.footer {
}
.footer .container {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .footer .container {
    gap: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer .container {
    gap: 120px;
  }
}
.footer-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 1280px) {
  .footer-top {
    flex-direction: row;
    gap: 229px;
  }
}
.footer-descr {
  font-size: 32px;
  line-height: 1;
  color: #0f0f0f;
  width: 335px;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  .footer-descr {
    font-size: 64px;
    width: 704px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-descr {
    width: 804px;
  }
}
.footer-socials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-socials-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-socials-wrapper {
    gap: 32px;
  }
}

.footer-socials-list {
  display: flex;
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .footer-socials-list {
    gap: 20px;
  }
}
.footer-socials-item {
  width: 36px;
  height: 36px;
}
@media only screen and (min-width: 768px) {
  .footer-socials-item {
    width: 44px;
    height: 44px;
  }
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff7f08;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.footer-socials-icon {
  fill: #ff7f08;
  opacity: 0.8;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  border-color: #e76f00;
}
.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
  fill: #e76f00;
}
.footer-adress {
}
.footer-tel {
  display: block;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .footer-tel {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
    text-align: end;
  }
}
.footer-adress-descr {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  max-width: 285px;
}
@media only screen and (min-width: 768px) {
  .footer-adress-descr {
    font-size: 14px;
    line-height: 1.29;
    text-align: end;
    max-width: 181px;
    height: 60px;
  }
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }
}
.footer-nav {
  display: flex;
  gap: 6px;
}

.footer-nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border: 1px solid rgba(15, 15, 15, 0.1);
  border-radius: 8px;
  /* max-height: 30px; */
  /* flex-grow: 1; */
}

.footer-nav-item:first-child {
  min-width: 76px;
  padding: 8px;
}
@media only screen and (min-width: 768px) {
  .footer-nav-item:first-child {
    padding: 8px 13px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-nav-item:first-child {
    padding: 8px 28px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-nav-item {
    padding: 8px 37px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-nav-item {
    padding: 8px 52px;
  }
}
.footer-nav-link {
  display: inline-flex;
  /* justify-content: center;
  align-items: center; */
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  width: 100%;
  height: 100%;
}
.footer-nav-link:first-child {
}
@media only screen and (min-width: 768px) {
  .footer-nav-link {
    font-size: 14px;
    line-height: 1.29;
  }
}
.footer-nav-item:hover,
.footer-nav-item:focus {
  border-color: #ff7f08;
}
.logo {
}
.footer-logo {
  line-height: 1;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    font-size: 18px;
  }
}
.footer-logo-item {
  margin-right: 8px;
  fill: #ff7f08;
}
@media only screen and (min-width: 768px) {
  .footer-logo-item {
    width: 16px;
    height: 16px;
  }
}
