/* #region Footer-box */
.footer {
}
.footer .container {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #0f0f0f;
}
@media only screen and (min-width: 768px) {
  .footer .container {
    gap: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer .container {
    gap: 120px;
  }
}
/* #endregion */
/* #region Footer-top */
.footer-top {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-top {
    gap: 80px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-top {
    flex-direction: row;
    gap: 229px;
  }
}
.footer-descr {
  font-size: 32px;
  line-height: 1;
  color: #0f0f0f;
  max-width: 335px;
  letter-spacing: -0.04em;
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  .footer-descr {
    font-size: 64px;
    min-width: 704px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-descr {
    min-width: 804px;
    width: 804px;
  }
}
.footer-socials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .footer-socials-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-socials-wrapper {
    gap: 32px;
  }
}

.footer-socials-list {
  display: flex;
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .footer-socials-list {
    gap: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-socials-list {
    justify-content: flex-end;
  }
}
.footer-socials-item {
  width: 36px;
  height: 36px;
}
@media only screen and (min-width: 768px) {
  .footer-socials-item {
    width: 44px;
    height: 44px;
  }
}
.footer-socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff7f08;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: 250ms ease-in;
  transition-property: border-color, background-color, -webkit-animation,
    animation;
}
.footer-socials-icon {
  fill: #ff7f08;
  opacity: 0.8;
}
@media only screen and (min-width: 768px) {
  .footer-socials-icon {
    width: 28px;
    height: 28px;
  }
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  border-color: #e76f00;
  /* background-color: #ff7f08; */
  -webkit-animation: footer-socials-link 250ms linear both;
  animation: footer-socials-link 250ms linear both;
}
@-webkit-keyframes footer-socials-link {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes footer-socials-link {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(2) rotateZ(180deg);
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
}
.footer-socials-link:hover .footer-socials-icon,
.footer-socials-link:focus .footer-socials-icon {
  fill: #e76f00;
  /* fill: #fff; */
  opacity: 1;
}
.footer-address {
}
.footer-tel {
  display: block;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
  text-transform: uppercase;
  transition: color 250ms ease-in;
}
@media only screen and (min-width: 768px) {
  .footer-tel {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 20px;
    text-align: end;
  }
}
.footer-tel:hover,
.footer-tel:focus {
  color: #e76f00;
}
.footer-address-descr {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 235px;
}
@media only screen and (min-width: 768px) {
  .footer-address-descr {
    font-size: 16px;
    line-height: 1.25;
    text-align: end;
    max-width: 181px;
    height: 60px;
  }
}
/* #endregion */
/* #region Footer-bottom */
.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-bottom {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
    gap: 106px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-bottom {
    gap: 513px;
  }
}
.footer-nav {
  display: flex;
  gap: 6px;
}
@media only screen and (min-width: 768px) {
  .footer-nav {
    gap: 20px;
    flex-grow: 1;
  }
}
.footer-nav-item {
  display: flex;
  justify-content: center;
  min-height: 30px;
  flex-basis: calc((100% - 3 * 6px) / 4);
}
@media only screen and (min-width: 768px) {
  .footer-nav-item {
    min-height: 34px;
    flex-basis: calc((100% - 3 * 20px) / 4);
  }
}
@media only screen and (min-width: 1280px) {
  .footer-nav-item {
  }
}
.footer-nav-item:first-child {
  min-width: 76px;
}
@media only screen and (min-width: 768px) {
  .footer-nav-item:first-child {
    min-width: 109px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer-nav-item:first-child {
    min-width: 140px;
  }
}
/* #region Nav-link */
.footer-nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(15, 15, 15, 0.1);
  border-radius: 8px;
  flex-grow: 1;
  padding: 8px 0;
  transition: 250ms cubic-bezier(0.39, 0.575, 0.565, 1);
  transition-property: border-color, -webkit-animation, animation;
}

@media only screen and (min-width: 768px) {
  .footer-nav-link {
    font-size: 14px;
    line-height: 1.29;
  }
}
.footer-nav-link:hover,
.footer-nav-link:focus {
  border-color: rgb(255, 127, 8);
  -webkit-animation: footer-nav-item 250ms cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: footer-nav-item 250ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes footer-nav-item {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes footer-nav-item {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* #endregion */
.logo {
}
.footer-logo {
  line-height: 1;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .footer-logo {
    font-size: 18px;
  }
}
.footer-logo-item {
  margin-right: 8px;
  fill: #ff7f08;
}
@media only screen and (min-width: 768px) {
  .footer-logo-item {
    width: 16px;
    height: 16px;
  }
}
/* #endregion */
