.logo-header {
  fill: #ff7f08;
}

/* mobile container */
.cnt-head {
  min-width: 320px;
  max-width: 374px;
  padding: 0px 20px;
  margin: 0 auto;
}

/* tablet container */
@media screen and (min-width: 768px) {
  .cnt-head {
    max-width: 768px;
    padding: 0px 32px;
  }
}

/* desktop container */
@media screen and (min-width: 1280px) {
  .cnt-head {
    min-width: 1216px;
    padding: 0 32px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding-bottom: 38px;
  padding-top: 24px;
  justify-content: center;
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
  }
}

.tel-link {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .tel-link {
    display: flex;
    padding: 8px 16px;
    margin-left: 130px;
    border-radius: 8px;
    min-width: 168px;
    height: 34px;
    background-color: #ff7f08;
    color: #fcfcfc;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.01em;
    transition: transform 0.2s ease;
  }
}

.tel-link:hover,
.tel-link:focus {
  background-color: #e76f00;
  animation: stretching 0.8s;
}

.tel-link:active {
  transform: scale(0.96);
}

.nav {
  display: flex;
}

.logo-a {
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 1280px) {
  .logo-a {
    margin-right: 220px;
  }
}
.nav-link {
  width: 140px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  font-size: 14px;

  border-radius: 8px;
  border: 1px solid rgba(15, 15, 15, 0.1);
  transition: transform 0.2s ease;
}

.nav-link:active {
  transform: scale(0.96);
}

.nav-link:hover,
.nav-link:focus {
  border-color: #ff7f08;
  animation: stretching 0.8s;
}

@keyframes stretching {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  60% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

/* mobile container */
.menu-btn {
  cursor: pointer;
  stroke: #0f0f0f;
  background-color: transparent;
  border: transparent;
  width: 40px;
  height: 100%;

  /* padding: 16px 0px; */
  margin-left: auto;
}

/* tablet container */
@media screen and (min-width: 768px) {
  .menu-btn {
    width: 40px;
    height: 40px;
  }
}

/* desktop container */
@media screen and (min-width: 1280px) {
  .menu-btn {
    display: none;
  }
}
