.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  background-color: #ff7f08;
  max-width: 375px;
  min-width: 320px;
  margin: 0 auto;

  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 450ms ease-in-out;
  transition-property: transform, visibility, opacity;
}
.burger-menu.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  /* transition: 450ms ease-in-out;
  transition-property: transform, visibility, opacity ; */
}
.btn-exit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  background: transparent;
  position: absolute;
  top: 16px;
  right: 20px;
}
.swg-exit {
  stroke: #fcfcfc;
}
.bgr-img {
  border-radius: 0;
}
.box-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 328px 32px 32px 32px;
}
.list-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
/* .items-menu {
  animation: text 3c 1;
}
@keyframes text {
  0% {
    color: #fcfcfc;
  }
} */
.caption-menu {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: rgba(252, 252, 252, 0.5);
  transition: 250ms ease-in;
  transition-property: color;
}
.caption-menu:focus,
.caption-menu:hover,
.caption-menu:active {
  color: #fcfcfc;
  border: 1px solid #fcfcfc;
  border-radius: 6px;

  -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-4-14 17:45:7
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-pop-br
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}
@keyframes shadow-pop-br {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e,
      0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    box-shadow: 1px 1px #3e3e3e, 2px 2px #3e3e3e, 3px 3px #3e3e3e,
      4px 4px #3e3e3e, 5px 5px #3e3e3e, 6px 6px #3e3e3e, 7px 7px #3e3e3e,
      8px 8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(-8px);
    transform: translateX(-8px) translateY(-8px);
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border-radius: 8px;
  padding: 7px;
  min-width: 132px;
  width: 100%;
  height: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.01em;
  text-align: center;
  color: #ff7f08;
  transition: 250ms ease-in;
  transition-property: color, background-color, border;
}
.contact:hover,
.contact:focus {
  color: #fcfcfc;
  background-color: #ff7f08;
  border: 1px solid #fcfcfc;
  padding-left: 6px;
  padding-right: 6px;
  -webkit-animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-br 0.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@media only screen and (min-width: 768px) {
  .burger-menu {
    min-width: 768px;
  }

  .box-menu {
    padding: 350px 89px 50px 89px;
  }
  .caption-menu {
    font-size: 32px;
  }
  .swg-exit {
    width: 38px;
    height: 38px;
  }
  .contact {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .burger-menu {
    display: none;
  }
}
