.order-div {
  border-radius: 16px;
  margin-bottom: 10px;
  background-color: #ff7f08;
}
.order-form {
  padding: 28px 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-input {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid rgba(252, 252, 252, 0.35);
  color: #fcfcfc;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;

  width: 100%;
  padding: 12px 14px;
  margin-bottom: 8px;
}
.order-input::placeholder {
  color: #fcfcfc;
}
.order-textarea {
  resize: none;
  height: 97px;
  margin-bottom: 12px;
}

.button-submit {
  background-color: #fcfcfc;
  border: 0;
  border-radius: 16px;
  color: #ff7f08;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: center;

  padding: 13px 0;
  width: 100%;
}
.button-submit:hover {
  color: #e76f00;
}

.order-img {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .order-div {
    margin-bottom: 16px;
  }
  .order-form {
    padding: 43px 0;
  }
  .order-input {
    font-size: 16px;
    line-height: 20px;

    padding: 14px;
    width: 400px;
  }
  .button-submit {
    font-size: 16px;
    line-height: 20px;

    max-width: 400px;
  }
  .order-textarea {
    height: 101px;
  }
  .sec-article .par {
    max-width: 547px;
  }
}
@media screen and (min-width: 1280px) {
  .order-div {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
  .order-form {
    padding-left: 73px;
  }
  .order-img {
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .order-form-img {
    display: none;
  }
}
