.order {
    display: flex;
    flex-direction: column;
}
.order-table-content {
    margin-bottom: 40px;
}

.order-form {
    margin-bottom: 10px;
    padding: 28px 20px;
    border-radius: 16px;
    background-color: #FF7F08;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-input {
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid rgba(252, 252, 252, 0.35);
    color: #FCFCFC;

    font-family: Suisse Intl;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: left;
    
    
    width: calc(100% - 40px);
    padding: 12px 14px;
    margin-bottom: 8px;
}
.order-input::placeholder {
    color: #FCFCFC;
}
.order-textarea  {
    height: 73px;
    margin-bottom: 12px;
}

.button-submit {
    background-color: #FCFCFC;
    border: 0;
    border-radius: 16px;
    color: #FF7F08;

    font-family: 'Suisse Intl';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.04em;
    text-align: center;   

    padding: 13px 0;
    width: 100%;
}

.order-img {
    margin-bottom: 80px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .order p:first-child {
        position: absolute;
    }
    .order-table-content {
        width: 496px;
        align-self: flex-end;
        margin-bottom: 80px;
    }
    .order-input {
        font-size: 16px;
        line-height: 20px;

        max-width: 370px;
    }
    .button-submit {
        font-size: 16px;
        line-height: 20px;

        max-width: 400px;
    }
}