.sec-descr {
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .sec-descr {
    flex-direction: row;
    justify-content: space-between;
  }
  .sec-article {
    width: 496px;
  }
}
@media only screen and (min-width: 1280px) {
  .sec-article {
    width: 547px;
    margin-right: 80px;
  }
}

.reviews-container {
  display: flex;
  gap: 32px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .reviews-container {
    margin-bottom: 80px;
  }
}

.review {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid rgba(15, 15, 15, 0.15);
  border-radius: 12px;
  width: 100%;
  padding: 30px 20px;
  --star-color-on: #fcd503;
  --star-color-off: #cdcdcd;
}
@media only screen and (max-width: 1279px) {
  .mob-tab-hide {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .review {
    flex-basis: calc((100% - 32px) / 2);
  }
}

/* #region Stars */
.stars {
  position: absolute;
  top: 30px;
  right: 20px;
  display: flex;
  gap: 6px;
  color: var(--star-color-off);
}
@media only screen and (min-width: 1280px) {
  .stars {
    right: 28px;
  }
}

/* #region Rating */
/* RATING 1 */
.rating-1 .star-li:nth-child(1) {
  color: var(--star-color-on);
}

/* RATING 2 */
.rating-2 .star-li:nth-child(1) {
  color: var(--star-color-on);
}
.rating-2 .star-li:nth-child(2) {
  color: var(--star-color-on);
}

/* RATING 3 */
.rating-3 .star-li:nth-child(1) {
  color: var(--star-color-on);
}
.rating-3 .star-li:nth-child(2) {
  color: var(--star-color-on);
}
.rating-3 .star-li:nth-child(3) {
  color: var(--star-color-on);
}

/* RATING 4 */
.rating-4 .star-li:not(:last-child) {
  color: var(--star-color-on);
}

/* RATING 5 */
.rating-5 .star-li {
  color: var(--star-color-on);
}
/* #endregion Rating */

.star {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 1.5;
}
/* #endregion Stars */

.person-reviewer {
  display: flex;
  gap: 10px;
}

.person-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.decor-img {
  border-radius: 16px;
}

.reviewer-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0f0f0f;
}
.reviewer-status {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  color: rgba(15, 15, 15, 0.5);
}
.par-rev {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #777;
}

@media only screen and (min-width: 768px) {
  .reviewer-name  {
    font-size: 20px;
  }
  .reviewer-status {
    font-size: 14px;
  }
  .par-rev {
    font-size: 16px;
  }
}
